<div class='d-flex flex-row justify-content-center'>
   <div class='d-flex flex-column'>
      <div style='width: 300px;' class='flex-box'>
         <h2 class='my-4'>Login</h2>
         <%= form_with url: '/' do |form| %>
            <div class='mb-3'>
               <%= form.label :USERNAME %>
               <%= form.text_field :username, class: 'form-control' %>
            </div>
            <div class='mb-3'>
               <%= form.label :PASSWORD %>
               <%= form.password_field :password, class: 'form-control' %>
            </div>
            <% if @error %>
              <div class='alert alert-danger'><%= @error %></div>
            <% end %>
            <div class='d-flex flex-row justify-content-between'>
               <%= form.submit 'Login', class: 'btn btn btn-primary mr-3'%>
               <a class='btn btn btn-link' href='/users/new'>Register</a>
            </div>
         <% end %>
      </div>
   </div>
</div>