<div class='d-flex flex-row justify-content-center'>
  <div class='d-flex flex-column'>
    <div style='width: 300px;' class='flex-box'>
      <h2 class='my-4'>Register</h2>
      <%= form_for @user do |form|%>
        <div class='mb-3'>
          <%= form.label :USERNAME %>
          <%= form.text_field :username, class: 'form-control' %>
          <% @user.errors.full_messages_for(:username).each do |message| %>
              <div class='alert alert-danger'><%= message %></div>
          <% end %>
        </div>
        <div class='mb-3'>
          <%= form.label :PASSWORD %>
          <%= form.password_field :password, class: 'form-control' %>
          <% @user.errors.full_messages_for(:password).each do |message| %>
              <div class='alert alert-danger'><%= message %></div>
          <% end %>
        </div>
        <div class='d-flex flex-row justify-content-between'>
          <%= form.submit 'Register', class: 'btn btn btn-primary mr-3'%>
          <a class='btn btn btn-link' href='/'>Login</a>
        </div>
      <% end %>
    </div>
  </div>
</div>